html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 30%;
    display: flex;
    padding-top: 6%;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
}

.container{
    width: 95%;
    height: 100px;
    background-color: rgb(13, 177, 210);
    padding: 10px 20px;
    display: flex;
    justify-content: start;
    border-radius: 20px;
}

.date-container{
    display:flex;
    justify-content:start;
    align-items:center;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
}

.date-group{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 10px;
}

.hidden {
    display: none;
}

.find{
    background-color: lightpink;
    color: white;
    outline: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.find:hover{
    opacity: .7;
    transition: .1s;
    cursor: pointer;
}

.find:active{
    opacity: .5;
    transition: .1s;
}
