.register-form-container {
    max-width: 500px; /* Lebar maksimum form */
    margin: 20px auto; /* Tengah secara horizontal */
    padding: 20px; /* Padding dalam form */
    border: 1px solid #ccc; /* Border form */
    border-radius: 5px; /* Sudut bulat */
    background-color: plum; /* Latar belakang */
}

.register-form-container h2 {
    text-align: center; /* Pusatkan judul */
}

.form-group {
    margin-bottom: 15px; /* Jarak antar input */
}

.form-group label {
    display: block; /* Label dalam baris terpisah */
    margin-bottom: 5px; /* Jarak bawah label */
}

.form-group input {
    width: 95%; /* Input lebar penuh */
    padding: 10px; /* Padding dalam input */
    border: 1px solid #ccc; /* Border input */
    border-radius: 4px; /* Sudut bulat input */
}

.submit-btn {
    width: 100%; /* Tombol lebar penuh */
    padding: 10px; /* Padding dalam tombol */
    background-color: lightpink; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Tidak ada border */
    border-radius: 4px; /* Sudut bulat tombol */
    cursor: pointer; /* Kursor pointer saat hover */
}

.submit-btn:hover {
    background-color: lightpink; /* Warna tombol saat hover */
}

.form p{
    text-align: center;
}
